@import url(../../assets/styles/reset.css);

body {
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.login-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
}

.logo {
  width: 400px;
  margin-bottom: 40px;
}

.logo img {
  width: 100%;
}

form input {
  width: 340px;
  height: 20px;
  display: block;
  margin: 0 auto 30px;
  padding: 10px;
  outline: none;
}

.btns {
  width: 360px;
  margin: 0 auto;
}
.btns > * {
  width: 100px;
  height: 40px;
  margin-left: 45px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  float: left;
  background-color: #67c23a;
  border-radius: 4px;
  cursor: pointer;
}
.btns > div {
  background-color: #40a9ff;
}
